.divContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divContentOne {
    width: 100%;
    height: 43.5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: var(--gray-0);
}
.divContentOne img {
    max-width: 90%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.divContentOne img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.divContentTwo {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 8%;
    padding: 0% 5% 0% 5%;
}
.contentName{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--gray-100);
}
.contentCategory{
    font-weight: 400;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--gray-50);
}
.contentPrice{
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}
.contentBtg{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 5.3vh;
    background: var(--color-primary);
    border: 0.15vw solid var(--color-primary);
    border-radius: 0.5vw;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: var(--white);
    cursor: pointer;
}
.contentBtg:hover {
    background: var(--color-primary-50);
    border: 0.15vw solid var(--color-primary-50);
}
@media only screen and (max-width:950px){
    .divContainer {
        width: 35vw;
    }
    .contentBtg{
        width: 14vw;
        border: 0.2vw solid var(--color-primary);
        border-radius: 1vw;
      }
      .contentBtg:hover {
          background: var(--color-primary-50);
          border: 1vw solid var(--color-primary-50);
      }  
}
@media only screen and (max-width:600px){
    .divContainer {
        width: 80vw;
    }
    .divContentOne img {
        max-width: 90%;
    }
    .divContentTwo {
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 8%;
        padding: 0% 5% 0% 5%;
      }
      .contentBtg{
          width: 29vw;
          border: 0.5vw solid var(--color-primary);
          border-radius: 1.6vw;
      }
      .contentBtg:hover {
          background: var(--color-primary-50);
          border: 0.5vw solid var(--color-primary-50);
      }
}